<div class="footer">
    <div class="links">
        <div class="about group">
            <h5>About Market Media</h5>
            <p>Our Solution</p>
            <p>Our Blog</p>
            <p>User Guide</p>
        </div>
        <div class="contacts group">
            <h5>Contacts & Location</h5>
            <p>Phone:+250 788 301 767 </p>
            <p>Email: info@marketmedia.rw</p>
            <!-- <img class="cart" src="../../../assets/Images/Place Marker.png" alt="location" width="20px"> -->
            <p><i class="bi bi-geo-alt-fill"></i> KN 5 RD, KBC Building, Nyarugenge, Kigali, Rwanda</p>
            <!-- <img class="social_media" src="../../../assets/Images/Instagram.png" alt="social media" width="20px"> -->
            <div class="social">
                <i class="bi bi-instagram"></i>
                <i class="bi bi-twitter"></i>
                <i class="bi bi-linkedin"></i>
            </div>
            <!-- <img class="social_media" src="../../../assets/Images/Twitter.png" alt="social media" width="20px"> -->
            <!-- <img class="social_media" src="../../../assets/Images/LinkedIn 2.png" alt="social media" width="20px"> -->
        </div>
        <div class="newsletter group">
            <h5>Newsletter</h5>
            <p>Subscribe to our newsletter to never miss any of our new updates</p>
            <div class="input">
                <input type="text" id="email" name="email" placeholder="Enter email">
                <button><i class="bi bi-chevron-right"></i></button>
            </div>
        </div>
    </div>
    <div class="copyright">
        <p>© 2022 Market Media</p>
    </div>
</div>