<div class="footer">
    <div class="about">
        <h5>About Market Media</h5>
        <p>Our Solution</p>
        <p>Our Blog</p>
        <p>User Guide</p>
    </div>
    <div class="contacts">
        <h5>Contacts & Location</h5>
        <p>Phone:+250 788 301 767 </p>
        <p>Email: info@marketmedia.rw</p>
        <img class="cart" src="../../../assets/Images/Place Marker.png" alt="location" width="20px">
        <p>KN 5 RD, KBC Building,Nyarugenge, Kigali, Rwanda</p>
        <img class="social_media" src="../../../assets/Images/Instagram.png" alt="social media" width="20px">
        <img class="social_media" src="../../../assets/Images/Twitter.png" alt="social media" width="20px">
        <img class="social_media" src="../../../assets/Images/LinkedIn 2.png" alt="social media" width="20px">
    </div>
    <div class="newsletter">
        <h5>Newsletter</h5>
        <p>Subscribe to our newsletter to never miss any of our new updates</p>
        <input type="text" id="email" name="email" placeholder="Enter email">
        <button><img class="cart" src="../../../assets/Images/Forward.png" alt="next" width="20px">
        </button>
    </div>
    <div class="copyright">
        <p>© 2022 Market Media</p>
    </div>
</div>