<div class="add_item">
    <h1>Product Details</h1>
    <form #saveForm="ngForm" (ngSubmit)="onSubmit(saveForm)" autocomplete="off">
        <div class="header">
            <img [src]="url" class="uploaded_img"><br>
            <input type="file" id="file" (change)="handleFileInput($event)">
            <label for="file" id="upload" class="button">Upload Product Image</label>
        </div>
        <div class="body">
            <div class="form-group">
                <label>Product Name:</label>
                <input name="name" id="ProdName" type="text" [(ngModel)]="updates.productName" />
            </div>
            <div class="form-group">
                <label>Description:</label>
                <textarea rows="4" type="text" id="description" [(ngModel)]="updates.productDescription"></textarea>
            </div>
            <div class="form-group">
                <label>Manufacturer: </label>
                <input name="manufacturer" type="text" list="manufacturerss" id="manufacturer" [(ngModel)]="updates.manufacturerId"
                    #manufacturer />
                <datalist id="manufacturerss">
                    <option *ngFor="let manufacturer of manufacturers" data-value="{{manufacturer.ManufacturerId}}">
                        {{manufacturer.ManufacturerName}}</option>
                </datalist>
            </div>
            <div class="form-group">
                <label>Category:</label>

                <select name="categoryId" id="categoryId" #categoryId [(ngModel)]="updates.categoryId">
                    <option *ngFor="let category of categories" value="{{category.Id}}" class="form-control">
                        {{category.Name}}
                    </option>

                </select>
            </div>
            <div class="form-group">
                <label>What unit is used in measuring your product ex:pieces, liters, etc: </label>
                <input name="measurementUnit" type="text" [(ngModel)]="updates.measurementUnit" id="measurementUnit" />
            </div>
            <div class="form-group">
                <label>What is the quantity/pieces in one package if applicable: </label>
                <input name="quantityPerUnit" type="text" [(ngModel)]="updates.quantityPerUnit" id="quantityPerUnit" />
            </div>
            <div class="form-group">
                <label>Price per unit (RWF): </label>
                <input name="totalPrice" type="number" [(ngModel)]="updates.totalPrice" id="price" />
            </div>
            <div class="form-group">
                <label>Quantity in stock: </label>
                <input name="quantity" type="number" [(ngModel)]="updates.quantity" id="quantity" />
            </div>

        </div>
        <div class="bottom_buttons">
            <button class="btn-bottom btn-primary button" type="submit" [disabled]="saveForm.invalid"
                (click)="publish('No')">Save</button>
            <button class="btn-bottom btn-primary button" type="submit" [disabled]="saveForm.invalid"
                (click)="publish('Yes')">Save & publish</button>
            <button class="btn-bottom btn-primary button" type="button" (click)="clearForm()">Cancel</button>
        </div>
    </form>

    <app-popup [(visible)]="openPopup" class="popUp_dialog">
        <a (click)="closePopup()" class="closedialog_btn"><i class="bi bi-x"></i>
        </a>
        <ng-template [ngIf]="success">
            <div class="content">
                <p>Successfully added product to stock</p>
                <i class="bi bi-check-lg"></i>
            </div>
        </ng-template>
        <ng-template [ngIf]="!success">
            <div class="content">
                <p>Could not add product to stock try again</p>
                <i class="bi bi-x-octagon-fill"></i>
            </div>
        </ng-template>
    </app-popup>