.find_sellers {
    display: flex;
    margin-top: 3rem;
    margin-left: 2rem;
}

.sellers {
    margin-left: 5rem;
    border: 5px solid grey;
    width: 70%;
    height: 600px;
}

.options {
    margin-top: 3rem;
    margin-left: 2rem;

    button {
        margin-right: 0.5rem;
        padding-left: 1rem;
        padding-right: 1rem;
        padding-top: 0.2rem;
        padding-bottom: 0.2rem;
    }

}