
.find_sellers{
    display: flex;
    margin-top: 4rem;
    margin-left: 2rem;
}

.sellers{
    margin-left: 5rem;
    border:5px solid grey;
    width: 1150px; 
    height: 600px;
}

.options{
    margin-top: 3rem;
    margin-left: 2rem;
}