.group{
    display: flex;
    justify-content: space-between;
    padding-bottom: 2rem;
    padding-top: 0.4rem;
    width:450px;
}
.title{
    padding-bottom: 2rem;
    
}

.group-label{
    display: flex;
    justify-content: space-between;
    width:450px;

}