<nav *ngIf="nav.visible">
    <div class="upper">
        <img class="logo" routerLink="/" src="../../../assets/Images/Logo2.png" alt="Logo">

        <form class="search" #form="ngForm" (ngSubmit)="onSubmit(form)">
            <div class="select-wrapper">
                <select id="categoryId" name="categoryId" #categoryId>
                    <option value=0>All categories</option>
                    <option *ngFor="let category of categories" value="{{category.id}}">{{category.Name}}</option>
                </select>
            </div>
            <input type="text" id="productName" name="productName" placeholder="Search product" #productName><br><br>
            <button class="search_button"><i class="bi bi-search"></i></button>
        </form>
        <button class="find_seller" routerLink="/findSeller">Find Seller</button>
        <!-- <img class="cart nav_icon" src="../../../assets/Images/Shopping Cart With Money.svg" alt="Cart"> -->
        <i class="bi bi-cart4" routerLink="/MyAccount/MyCart"></i>
        <div class="account account_icons" >
         <!-- *ngIf="authenticationService.isAuthenticated" -->
            <i class="bi bi-person-circle" routerLink="MyAccount/MyProfile"></i>
            <div class="dropdown">
                <i class="bi bi-caret-down-fill"></i>
                <div class="choices">
                    <label>
                        <input type="radio" name="account" class="first" routerLink="MyAccount/MyProfile"/> <span>My Account</span>
                    </label>
                    <label>
                        <input type="radio" name="account" (click)="logout()" class="last"/> <span>Log Out</span>
                    </label>
                </div>
            </div>
        </div>
        <!-- <button class="login" routerLink="/login" *ngIf="!authenticationService.isAuthenticated">Login</button> -->
    </div>
    <div class="links">
        <a class="seller_registration" routerLink="/sellerRegistration">Seller Registration</a>
        <a class="deals" routerLink="/deals">Deals</a>
    </div>
</nav>