<nav>
    <img class="logo" src="../../../assets/Images/Logo2.png" alt="Logo">
    <select id="categories" name="categories">
        <option value="All">All categories</option>
        <option *ngFor="let category of categories" value="{{category.name}}">{{category.name}}</option>
    </select>
    <input type="text" id="product" name="SearchProduct" placeholder="Search product"><br><br>
    <button><a routerLink="/findSeller">Find Seller</a></button>
    <img class="cart" src="../../../assets/Images/Shopping Cart With Money.svg" alt="Cart">
    <img class="account" src="../../../assets/Images/Male User.svg" alt="Account">
    <img class="account" src="../../../assets/Images/Chevron Down.svg" alt="Account">
    <div class="links">
        <a class="seller_registration" href="#">Seller Registration</a>

        <a class="deals" href="#">Deals</a>
    </div>
</nav>




