nav{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 2rem;
    margin-top: 1rem;
    width: 97%;
    height:120px;
    .upper{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    #categories,.find_seller{
        height:30px;
    }
    #product{
        height:26px;
    }

}
.logo{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    object-fit: cover;
    object-position: center center;
}
.nav_icon{
    height:2.5rem;
}
.seller_registration{
    padding-right: 1rem;
}
.search{
    display: flex;
}
.search_button{
    height:2.25em;
    width:2rem;
}