// nav{
//     margin:auto;
//     display: flex;
//     flex-direction: row;
//     justify-content: space-between;
//     // border:2px solid;
// }

.logo{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    object-fit: cover;
    object-position: center center;
}
// .bi-cart-fill{
//     font-size: 2rem;
// }
// .bi-person-circle{
//     font-size: 2rem;
// }

// .account{
//     display: flex;
//     width:70px;
//     justify-content: space-between;
//     align-items: center;
// }
  
// .input-group{
//     // border:2px solid green;
//     width: 900px;
// }
// .navbar-brand{
//     // border:2px solid blue;
// }
// .input-group{
//     // border:2px solid pink;
// }
// .form-control{
//     height: 50px;
//     border-radius: 0px 50px 50px 0px;
// }
// .categories{
//     border-radius: 50px 0px 0px 50px;
    
// }