// .cont1{
//   background-color: #CED3DF;
//   border: 2px solid;
// }

.Card
{
  margin-top: 10px;
  border: none;
  width: 500px;
  padding:40px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #243C74;
  background: linear-gradient(90deg, rgb(43, 43, 65) 100%);
}
.Card h1{
  color: #fff;
}

label{
  color: #fff;
}

.group{
  padding-bottom: 0.5rem;
}

.title{
  padding-bottom: 1rem;
}

button{
  margin-top: 0.7rem;
  margin-bottom: 1.5rem;
}