<div class="counter">
    <p>1-24 of 1000 results</p>
</div>
<div class="find_products">
    <div class="filters">
        <div class="filters_list">
        <div class="sub_category">
            <p>Select sub-category</p>
            <select id="categories" name="category" ngModel="category" aria-describedby="categoryId" #categoryId>
                <option value= 0 selected="selected">All categories</option>
                <option *ngFor="let subCategory of subCategories" value="{{subCategory.id}}">{{subCategory.name}}</option>
            </select>    
        </div>
        </div>
        <button class="filter_button">Filter</button>
    </div>
    <div class="products">
        <div class="product" *ngFor = "let product of products" routerLink="/productDescription"
        (click)="setProductIdDescription(product.id)">
            <img class="product_photo" [src]="product.ImageUrl" alt="product"  height="200px">
            <div class="product_description">
            <p>{{product.Name}}</p>
            <a (click)="setProductId(product.Id)">See list of sellers</a>
            </div>
        </div>
    </div>