
.find_sellers{
    display: flex;
    margin-top: 4rem;
    margin-left: 2rem;
}

.sellers{
    display:flex;
    flex-wrap: wrap;
    margin-left: 5rem;
    .seller{
        margin-right: 2.4rem;
        margin-bottom: 2.4rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        &:hover {
            cursor: pointer;
        }
    }
}

.options{
    margin-top: 3rem;
    margin-left: 2rem;
}

.filters{
    .rating{
        margin-top: 1rem;
    }
    .filter_button{
        margin-top: 2rem;
    }
}
small{
    color:gray;
}
.rate_stars{
    list-style: none;
    display: flex;
    .bi-star-fill{
        color: goldenrod;
    }
}
.number_of_reviews{
    display: none;
}
.reviews:hover p{
    display:inline;
}

.seller_description{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.add_to_cart{
    background-color: goldenrod;
    border: none;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 2rem;
    padding-right: 2rem;
}